<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <!--<script src='./lib/bindings/utils.js'></script>
        <script src="./lib/vis-9.1.2/vis-network.min.js"></script>
        <link rel="stylesheet" href="./lib/vis-9.1.2/vis-network.css">
        <link rel="stylesheet" href="./lib/vis-9.1.2/template_style.css">-->

    <script>
        {% include 'lib/bindings/utils.js' %}
    </script>
    <style>
        {% include 'lib/vis-9.1.2/vis-network.css' %}
    </style>
    <style>
        {% include '/lib/vis-9.1.2/template_style.css' %}
    </style>
    <script>
        {% include 'lib/vis-9.1.2/vis-network.min.js' %}
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</head>


<body>
    <div id="container">
        <div id="sidePanel">
            <div id="sideButton" onclick="toggleSidePanel()">☰ View graph details</div>
            <p>
                ⓘ </br>
                Hover on nodes to show the <b>image name</b>.</br>
                Click on nodes to show the <b>image preview</b> and to highlight connections.</br>
                Hover on edges to show the number of <b>matches</b> between a pair of images.</br></br>

                Nodes are positioned using the <b>Fruchterman-Reingold</b> force-directed algorithm <a href="https://networkx.org/documentation/stable/reference/generated/networkx.drawing.layout.spring_layout.html">[1]</a>, the closer the nodes, the stronger the connection.
                Images are grouped into <b>communities</b>. Nodes share more matches with other nodes inside the community and fewer with nodes outside.</br></br>
                Click on a community in the list to <b>cluster</b> the graph.</br>
                Click on the cluster to <b>reopen</b> the community. </br> </br>
                A list of images 'communities.csv' grouped by community is automatically created in the results folder. </br>
                If present, images which have a significantly lower <b>clustering coefficient</b> <a href="https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.cluster.clustering.html#networkx.algorithms.cluster.clustering">[2]</a> than the average of their community are represented with larger size. These may be community outliers, so check them first! </br></br>
                <b>Not aligned images</b> (if available) are shown in the list below and on the side of the graph.

            </p>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr class="inforow">
                        <td>Edges: </td>
                    </tr>
                    <tr class="inforow"  onclick="toggleRows(this, 'comm')">
                        <td>Communities: </td>
                    </tr>
                    <tr class="inforow">
                        <td>Aligned images: </td>
                    </tr>
                    <tr class="inforow" onclick="toggleRows(this, 'na')">
                        <td>Not aligned images: </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="mynetwork">
        </div>

        <div id="reopenButton" onclick="reopenSidePanel()">☰ Graph info</div>
    </div>

    {% if nodes|length > 100 and physics_enabled %}
    <div id="loadingBar">
        <div class="outerBorder">
            <div id="text">0%</div>
            <div id="border">
                <div id="bar"></div>
            </div>
        </div>
    </div>
    {% endif %} 
    {% if conf %}
    <div id="config"></div>
    {% endif %}

    <script type="text/javascript">
        // initialize global variables.
        var edges;
        var nodes;
        var allNodes;
        var allEdges;
        var nodeColors;
        var originalNodes;
        var network;
        var container;
        var options, data;
        var positions;
        var net;
        var filter = {
            item: '',
            property: '',
            value: []
        };

        // This method is responsible for drawing the graph, returns the drawn network
        function drawGraph() {
            var container = document.getElementById('mynetwork');

            // parsing and collecting nodes and edges from the python
            nodes = new vis.DataSet({{nodes|tojson}});
            edges = new vis.DataSet({{edges|tojson}});

            nodeColors = {};
            allNodes = nodes.get({
                returnType: "Object"
            });
            for (nodeId in allNodes) {
                nodeColors[nodeId] = allNodes[nodeId].color;
            }
            allEdges = edges.get({
                returnType: "Object"
            });
            // adding nodes and edges to the graph
            data = {nodes: nodes,edges: edges};

            var options = {{options|safe}};
            net = options;
            options = {
                "configure": {
                    "enabled": false
                },
                    "nodes": {
                        "borderWidth": 1,
                        "borderWidthSelected": 2,
                        "font": {
                            "size": 6
                        }
                    },
                "edges": {
                    "color": {
                        "inherit": true
                    },
                    "smooth": {
                        "enabled": true,
                        "type": "dynamic"
                    }
                },
                "interaction": {
                    "dragNodes": true,
                    "hideEdgesOnDrag": false,
                    "hideNodesOnDrag": false
                },
                "physics": {
                    "enabled": false,
                    "stabilization": {
                        "enabled": true,
                        "fit": true,
                        "iterations": 1000,
                        "onlyDynamicEdges": false,
                        "updateInterval": 50
                    }
                }
            }


            network = new vis.Network(container, data, options);

            positions = network.getPositions();

            network.on("selectNode", function (params){
                if (network.isCluster(params.nodes[0]) == true) {
                    network.openCluster(params.nodes[0], {releaseFunction: releaseFunction});
                }else
                    showImagePopup(params);
            });

            function releaseFunction(){
                return positions;
            }

            network.on("dragStart", function() {
                if (document.getElementById("imagePopup") != null)
                    if (imagePopup.style.display != 'none')
                        closeImagePopup(imagePopup);

            });

            network.on("deselectNode", function() {
                if (document.getElementById("imagePopup") != null)
                    if (imagePopup.style.display != 'none') {
                        closeImagePopup(imagePopup);
                    }
            });

            network.on("zoom", function(params) {
                //if (document.getElementById("imagePopup") != null)
                    //imagePopup.style.transform = "scale(" + params.scale + ")";
            });

                //   network.once("stabilizationIterationsDone", function() {
                //     network.setOptions( { physics: false } );
                    
                //     });
                {% if nodes|length > 30 %}
                network.setOptions( {
                                nodes: {
                                     opacity: 0.5
                                    }
                                });
                {% endif %}

            // showing the popup
            function showImagePopup(params) {
                // get the data from the vis.DataSet
                nodeId = params.nodes[0];
                var nodeData = nodes.get(nodeId);
                var imagePopup = document.createElement("div");
                imagePopup.className = 'imagePopup';
                imagePopup.id = 'imagePopup';
                container.appendChild(imagePopup);

                const path = document.baseURI;
                path_array = path.split('/');
                path_array.splice(0, 2);
                path_array.splice(-2);
                img_path = path_array.join('/').concat('/images/');
                imagePopup.style.backgroundImage = "url(" + img_path.concat(nodeData.title) + ")"; 

                // get the position of the node
                var posCanvas = network.getPositions([nodeId])[nodeId];

                // get the bounding box of the node
                var boundingBox = network.getBoundingBox(nodeId);

                //position tooltip:
                posCanvas.x = posCanvas.x + 0.5 * (boundingBox.right - boundingBox.left);
                imagePopup.x = posCanvas.x
                // convert coordinates to the DOM space
                var posDOM = network.canvasToDOM(posCanvas);

                // Give it an offset
                posDOM.x += 10;
                posDOM.y -= 100;

                // show and place the tooltip.
                imagePopup.style.display = 'block';
                imagePopup.style.top = posDOM.y + 'px';
                imagePopup.style.left = posDOM.x + 'px';
            }

            return network;
        }

        function toggleSidePanel() {
            const sidePanel = document.getElementById('sidePanel');
            const mainContent = document.getElementById('mynetwork');
            const reopenButton = document.getElementById('reopenButton');

            if (sidePanel.style.width === '20%') {
                sidePanel.style.width = '0%';
                mainContent.style.flexGrow = '1';
                setTimeout(function() {
                    reopenButton.style.display = 'block';
                }, 250);
            } else {
                sidePanel.style.width = '20%';
                mainContent.style.flexGrow = '0';
                reopenButton.style.display = 'none';
            }
        }

        function reopenSidePanel() {
            const sidePanel = document.getElementById('sidePanel');
            const reopenButton = document.getElementById('reopenButton');

            sidePanel.style.width = '20%';
            reopenButton.style.display = 'none';
        }

        function populateSidePanel() {
            const sidePanel = document.getElementById('sidePanel');
            const table = sidePanel.children[2];
            const tbody = table.getElementsByTagName('tbody')[0];
            tbody.rows[0].cells[0].innerHTML += net["properties"]["edges"];
            tbody.rows[1].cells[0].innerHTML += net["properties"]["communities"].length;
            tbody.rows[2].cells[0].innerHTML += net["properties"]["aligned"];
            tbody.rows[3].cells[0].innerHTML += net["properties"]["not_aligned"];

            j = 0
                if (net["properties"]["communities"].length > 1){
                    //document.getElementById("cluster").innerHTML += "<input class='comm_button' type='button' onclick='clusterByCommunity()' value='Cluster by community' />";
                    tbody.rows[1].cells[0].innerHTML +="    ▼"
                    tbody.rows[1].cells[0].style.cursor = "pointer";
                    for (let index=0; index< net["properties"]["communities"].length; index++) {
                        newrow = tbody.insertRow(j + 2);
                        newrow.className = "comm";
                        newcell = newrow.insertCell(0);
                        newcell.innerHTML = "<input type='button' id='btn_" + index + "' class='comm_button' style='color:" + network.groups.get(index).color.border + ";' value='#" + (j+1) +  " size: "+ net['properties']['communities'][index] + "'/>";
                        document.getElementById("btn_" + index).addEventListener("click", function() {
                            clusterByCommunity(index, network.groups.get(index).color);
                        }, false);
                        j += 1;
                    }
                }
            if (net["properties"]["not_aligned"] != 0) {
                tbody.rows[3 + j].cells[0].innerHTML += "    ▼"
                tbody.rows[3 + j].cells[0].style.cursor = "pointer";
            }

            var i = 0;
            for (nodeId in allNodes) {
                if (!allNodes[nodeId].aligned) {
                    newrow = tbody.insertRow(i + j + 4)
                    newrow.className = "na"
                    newrow.insertCell(0).innerHTML = "[" + nodeId + "]  " + allNodes[nodeId].title;
                    i += 1;
                }
            }
        }

        function toggleRows(clickedRow, className) {
            var rowsToToggle = clickedRow.nextElementSibling;

            // Toggle the display property of all rows with class 'na' below the clicked row
            while (rowsToToggle && rowsToToggle.classList.contains(className)) {
                if (rowsToToggle.style.display === 'none' || rowsToToggle.style.display === '') {
                    rowsToToggle.style.display = 'table-row';
                } else {
                    rowsToToggle.style.display = 'none';
                }

                rowsToToggle = rowsToToggle.nextElementSibling;
            }
        }

        function closeImagePopup(imagePopup) {
            imagePopup.style.display = 'none';
            document.getElementById('mynetwork').removeChild(imagePopup);
        }

        drawGraph();
        populateSidePanel();
    </script>
</body>

</html>